<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">EMPLEADO</a>
</nav>

<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <form action="">
         
        <div class="form-group">
          <label for="" class="control-label" hidden>cipadre</label>
          <input
            type="text"
            [(ngModel)]="user.CI"
            name="CI"
            placeholder="DIGITE LA cipadre"
            class="form-control"
            required hidden
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">PRIMER NOMBRE</label>
          <input
            type="text"
            [(ngModel)]="user.nom1"
            name="nom1"
            placeholder="DIGITE EL PRIMER NOMBRE"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">SEGUNDO NOMBRE</label>
          <input
            type="text"
            [(ngModel)]="user.nom2"
            name="nom2"
            placeholder="DIGITE EL SEGUNDO NOMBRE"
            class="form-control"
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="" class="control-label">PRIMER APELLIDO</label>
          <input
            type="text"
            [(ngModel)]="user.ape1"
            name="ape1"
            placeholder="DIGITE EL APELLIDO"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">SEGUNDO APELLIDO</label>
          <input
            type="text"
            [(ngModel)]="user.ape2"
            name="ape2"
            placeholder="DIGITE EL SEGUNDO APELLIDO"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">SEXO</label>
          <input
            type="text"
            [(ngModel)]="user.sexo"
            name="sexo"
            placeholder="Digite el sexo"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="dir" class="control-label">DIRECCIÓN</label>
          <input
            type="text"
            [(ngModel)]="user.dir"
            name="dir"
            placeholder="Digite la dirección"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="lugarnac" class="control-label"
            >LUGAR DE NACIMIENTO</label
          >
          <input
            type="text"
            [(ngModel)]="user.lugarnac"
            name="lugarnac"
            placeholder="Digite el lugar de nacimiento"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="teldomicilio" class="control-label"
            >TELEFONO A DOMICILIO</label
          >
          <input
            type="text"
            [(ngModel)]="user.teldomicilio"
            name="teldomicilio"
            placeholder="Digite el teléfono domicilio"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="email" class="control-label">EMAIL</label>
          <input
            type="email"
            [(ngModel)]="user.email"
            name="email"
            placeholder="Digite el correo electrónico"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="etnia" class="control-label">ETNIA</label>
          <input
            type="text"
            [(ngModel)]="user.etnia"
            name="etnia"
            placeholder="Digite la etnia"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="estcivil" class="control-label">ESTADO CIVIL</label>
          <input
            type="text"
            [(ngModel)]="user.estcivil"
            name="estcivil"
            placeholder="Digite el estado civil"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="colorpelo" class="control-label">COLOR DE PELO</label>
          <input
            type="text"
            [(ngModel)]="user.colorpelo"
            name="colorpelo"
            placeholder="Digite el color de pelo"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="estatura" class="control-label">ESTATURA </label>
          <input
            type="number"
            [(ngModel)]="user.estatura"
            name="estatura"
            placeholder="Digite la estatura en centimetros"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="peso" class="control-label">PESO (KG)</label>
          <input
            type="number"
            [(ngModel)]="user.peso"
            name="peso"
            placeholder="Digite el peso en Kilogramos"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <option>Seleccione el Nivel de Educacion</option>
          <select
            class="form-control"
            size="1"
            [(ngModel)]="user.idniveledu"
            name="idsuc"
            required
          >
            <option
              *ngFor="let lista of NivelEdu"
              value="{{ lista.idniveledu }}"
            >
              {{ lista.nombrenivel }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="cargo" class="control-label">CARGO</label>
          <input
            type="text"
            [(ngModel)]="user.cargo"
            name="cargo"
            placeholder="Digite el cargo"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="contrato" class="control-label">CONTRATO</label>
          <input
            type="text"
            [(ngModel)]="user.contrato"
            name="contrato"
            placeholder="Digite el contrato"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="departamento" class="control-label">DEPARTAMENTO</label>
          <input
            type="text"
            [(ngModel)]="user.departamento"
            name="departamento"
            placeholder="Digite el departamento"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="ubicacion" class="control-label">UBICACION</label>
          <input
            type="text"
            [(ngModel)]="user.ubicacion"
            name="ubicacion"
            placeholder="Digite la ubicación"
            class="form-control"
          />
        </div>

        <button
          class="btn btn-success btn-block"
          (click)="updateUser()"
          onclick="javascript:alert('Registro Actualizado')"
        >
          Actualizar
        </button>
      </form>
    </div>
  </div>
</div>
