<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">EMPLEADO</a>
</nav>

<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="" class="control-label" hidden>Registro No.</label>
          <input
            type="text"
            readonly="readonly"
            [(ngModel)]="user.CI"
            na
            class="form-control"
            required
            hidden
          />
        </div>

        <div class="form-group">
          <label for="" class="control-label">cipadre</label>
          <input
            type="text"
            [(ngModel)]="user.cipadre"
            name="cipadre"
            placeholder="DIGITE LA cipadre"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">nom1</label>
          <input
            type="text"
            [(ngModel)]="user.nom1"
            name="nom1"
            placeholder="DIGITE LA nom1"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">nom2</label>
          <input
            type="text"
            [(ngModel)]="user.nom2"
            name="nom2"
            placeholder="DIGITE EL nom2"
            class="form-control"
            autofocus
          />
        </div>

        <div class="form-group">
          <label for="" class="control-label">ape1</label>
          <input
            type="text"
            [(ngModel)]="user.ape1"
            name="ape1"
            placeholder="DIGITE EL ape1"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">ape2</label>
          <input
            type="text"
            [(ngModel)]="user.ape2"
            name="ape2"
            placeholder="DIGITE EL ape2"
            class="form-control"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="" class="control-label">Sexo</label>
          <input
            type="text"
            [(ngModel)]="user.sexo"
            name="sexo"
            placeholder="Digite el sexo"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="dir" class="control-label">Dirección</label>
          <input
            type="text"
            [(ngModel)]="user.dir"
            name="dir"
            placeholder="Digite la dirección"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="lugarnac" class="control-label"
            >Lugar de Nacimiento</label
          >
          <input
            type="text"
            [(ngModel)]="user.lugarnac"
            name="lugarnac"
            placeholder="Digite el lugar de nacimiento"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="teldomicilio" class="control-label"
            >Teléfono Domicilio</label
          >
          <input
            type="text"
            [(ngModel)]="user.teldomicilio"
            name="teldomicilio"
            placeholder="Digite el teléfono domicilio"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input
            type="email"
            [(ngModel)]="user.email"
            name="email"
            placeholder="Digite el correo electrónico"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="etnia" class="control-label">Etnia</label>
          <input
            type="text"
            [(ngModel)]="user.etnia"
            name="etnia"
            placeholder="Digite la etnia"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="estcivil" class="control-label">Estado Civil</label>
          <input
            type="text"
            [(ngModel)]="user.estcivil"
            name="estcivil"
            placeholder="Digite el estado civil"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="colorpelo" class="control-label">Color de Pelo</label>
          <input
            type="text"
            [(ngModel)]="user.colorpelo"
            name="colorpelo"
            placeholder="Digite el color de pelo"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="estatura" class="control-label">Estatura</label>
          <input
            type="number"
            [(ngModel)]="user.estatura"
            name="estatura"
            placeholder="Digite la estatura"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="peso" class="control-label">Peso</label>
          <input
            type="number"
            [(ngModel)]="user.peso"
            name="peso"
            placeholder="Digite el peso"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="idniveledu" class="control-label"
            >ID Nivel Educativo</label
          >
          <input
            type="number"
            [(ngModel)]="user.idniveledu"
            name="idniveledu"
            placeholder="Digite el ID del nivel educativo"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="cargo" class="control-label">Cargo</label>
          <input
            type="text"
            [(ngModel)]="user.cargo"
            name="cargo"
            placeholder="Digite el cargo"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="contrato" class="control-label">Contrato</label>
          <input
            type="text"
            [(ngModel)]="user.contrato"
            name="contrato"
            placeholder="Digite el contrato"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="departamento" class="control-label">Departamento</label>
          <input
            type="text"
            [(ngModel)]="user.departamento"
            name="departamento"
            placeholder="Digite el departamento"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="ubicacion" class="control-label">Ubicación</label>
          <input
            type="text"
            [(ngModel)]="user.ubicacion"
            name="ubicacion"
            placeholder="Digite la ubicación"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="ubicacion" class="control-label">foto</label>
          <input
            type="text"
            [(ngModel)]="user.foto"
            name="foto"
            placeholder="Digite la foto"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="ubicacion" class="control-label">estado</label>
          <input
            type="text"
            [(ngModel)]="user.estado"
            name="estado"
            placeholder="Digite la estado"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="ubicacion" class="control-label">clave</label>
          <input
            type="text"
            [(ngModel)]="user.clave"
            name="clave"
            placeholder="Digite la clave"
            class="form-control"
          />
        </div>
        <button
          class="btn btn-success btn-block"
          (click)="updateUser()"
          onclick="javascript:alert('Registro Actualizado')"
        >
          Actualizar
        </button>
      </form>
    </div>
  </div>
</div>
