<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b2dfdb;">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" style="color: #333;">Sistema de Capacitaciones</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="menu1" class="btn btn-outline-blue">
            PARAMETROS
          </button>
        </li>
        <!-- Agrega el botón de Consultas -->
        <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="menu2" class="btn btn-outline-blue">
            CONSULTAS
          </button>
        </li>
      </ul>
    </div>

    <!-- Define el menú para las consultas -->
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="SubMenu2" class="btn btn-outline-blue">Consultas</button>
    </mat-menu>

    <!-- Define el menú de las consultas -->
    <mat-menu #SubMenu2="matMenu">
      <a mat-menu-item href="/empleadosconsul" class="dropdown-item" style="color: #333;">Empleados</a>
    </mat-menu>

    <mat-menu #menu1="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="SubMenu1" class="btn btn-outline-blue">TABLAS</button>
    </mat-menu>

    <mat-menu #SubMenu1="matMenu">
      <a mat-menu-item href="/caparecibida" class="dropdown-item" style="color: #333;">CAPACITACIONES RECIBIDAS</a>
      <a mat-menu-item href="/empleados" class="dropdown-item" style="color: #333;">REGISTRO EMPLEADOS</a>
      <a mat-menu-item href="/especialidad" class="dropdown-item" style="color: #333;">ESPECIALIDADES</a>
      <a mat-menu-item href="/facultad" class="dropdown-item" style="color: #333;">FACULTADES</a>
      <a mat-menu-item href="/niveledu" class="dropdown-item" style="color: #333;">NIVEL EDUCACION</a>
      <a mat-menu-item href="/nomcentro" class="dropdown-item" style="color: #333;">REGISTRO DE CENTROS</a>
      <a mat-menu-item href="/tipocapacitacion" class="dropdown-item" style="color: #333;">TIPO DE CAPACITACION</a>
      <a mat-menu-item href="/tiponiveledu" class="dropdown-item" style="color: #333;">TIPO DE NIVEL EDUCACION</a>
      <a mat-menu-item href="/titulo" class="dropdown-item" style="color: #333;">REGISTRO DE TITULO</a>
    </mat-menu>

    <div class="float-right">
      <button mat-button (click)="logout()" class="btn btn-outline-blue">Logout</button>
    </div>
  </div>
</nav>






