<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Opciones del Modulo-->
      <button mat-button [matMenuTriggerFor]="menu1">Sistema De Capacitaciones</button> <!-- Agregar nombre de Menu-->
  
        <mat-menu #menu1="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="SubMenu1">Tablas</button>
          <button mat-menu-item [matMenuTriggerFor]="SubMenu2">Configuracion</button>
        </mat-menu>
  
        <!--Opcion del SUBMENU Opcion1-->
        <mat-menu #SubMenu1="matMenu">
          <a mat-menu-item href="/caparecibida">CAPACITACIONES RECIBIDAS</a>
          <a mat-menu-item href="/empleados">REGISTRO EMPLEADOS</a>
          <a mat-menu-item href="/especialidad">ESPECIALIDADES</a>
          <a mat-menu-item href="/facultad">FACULTADES</a>
          <a mat-menu-item href="/niveledu">NIVEL EDUCACION</a>
          <a mat-menu-item href="/nomcentro">REGISTRO DE CENTROS</a>
          <a mat-menu-item href="/tipocapacitacion">TIPO DE CAPACITACION</a>
          <a mat-menu-item href="/tiponiveledu">TIPO DE NIVEL EDUCACION</a>
          <a mat-menu-item href="/titulo">REGISTRO DE TITULO</a>
        </mat-menu>
  
        <!--Opcion del SUBMENU Opcion1-->
        <mat-menu #SubMenu2="matMenu">
            <a mat-menu-item href="/Html1">--</a><!--Colocar el nombre del app-routing.module.ts-->
            <a mat-menu-item href="/Html2">--</a>
            <a mat-menu-item href="/Html3">--</a>
            <a mat-menu-item href="/Html4">--</a>
            <a mat-menu-item href="/Htaml5">--</a>
    
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="menu2">Consultas</button> <!-- Agregar nombre de Menu-->
       
          <mat-menu #menu2="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="SubMenu1">Más</button>
          
          </mat-menu>
          <mat-menu #SubMenu1="matMenu">
            <a mat-menu-item href="/Html1">html1</a><!--Colocar el nombre del app-routing.module.ts-->
            
          </mat-menu>
        
       </div>
  </nav>




