<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">TIPO DE CAPACITACIÓN</a>
  </nav>
  
  <div class="row mt-5">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
            <input
              type="text"
              readonly="readonly"
              [(ngModel)]="user.idtipocapa"
              name="idtipocapa"
              class="form-control"
              required
              hidden
            />
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Tipo de Capacitación</label>
            <input
              type="text"
              [(ngModel)]="user.tipocapa"
              name="tipocapa"
              placeholder="Digite el tipo de capacitación"
              class="form-control"
              autofocus
            />
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Estado</label>
            <input
              type="text"
              [(ngModel)]="user.estado"
              name="estado"
              placeholder="Digite el estado"
              class="form-control"
            />
          </div>
  
          <button
            class="btn btn-success btn-block"
            (click)="updateUser()"
            onclick="javascript:alert('Tipo de Capacitación Actualizado')"
          >
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  