<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">TÍTULO</a>
  </nav>
  
  <div class="row mt-5">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
            <input
              type="text"
              readonly="readonly"
              [(ngModel)]="user.idtitulo"
              name="idtitulo"
              class="form-control"
              required
              hidden
            />
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Título</label>
            <input
              type="text"
              [(ngModel)]="user.titulo"
              name="titulo"
              placeholder="Digite el título"
              class="form-control"
              autofocus
            />
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Estado</label>
            <input
              type="text"
              [(ngModel)]="user.estado"
              name="estado"
              placeholder="Digite el estado"
              class="form-control"
            />
          </div>
  
          <button
            class="btn btn-success btn-block"
            (click)="updateUser()"
            onclick="javascript:alert('Título Actualizado')"
          >
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  